/* navbar */
.jl-navbar {
  width: 100%;
  z-index: 10;
}

/* Hero section */
.s-hero {
  width: 100%;
  background: linear-gradient(rgba(26, 26, 26, 0.445), rgba(26, 26, 26, 1.411)),
  url("../assets/images/hero-image.svg") no-repeat center / cover;
  //background-attachment: fixed;
  display: flex;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-container-1 {
  width: 90%;
  height: 100%;
  max-width: 1000px;
  margin-right: 6rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.hero-container-2 {
  width: 90%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
}

.hero-container-1 h1 {
  margin-bottom: 1rem;
}

/* about section */

.s-about {
  padding-bottom: 16rem;
  background-color: #ffffff;
  position: relative;
}

.s-about__section--profile::before {
  content: "";
  display: block;
  background-color: #919aa1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: calc(50% + 12vw);
}

.s-about__section--profile {
  padding-top: 28rem;
  padding-bottom: 4rem;
  min-height: 108rem;
  position: relative;
}

/* Skills section */

.s-skill__section {
  background-color: #1a1a1a;
}
