<jl-navbar></jl-navbar>
<!--Hero-->
<section id="hero" class="s-hero parallax target-section">
  <div class="hero-container">
    <div class="hero-container-1">
      <h1 class="font-white">Hello, I'm Jaejin Lee</h1>
    </div>
    <div class="hero-container-2">
      <h1 class="font-white">I'm a full-stack developer based in CA</h1>
    </div>
  </div>
</section>
<!--About-->
<section id="about" class="s-about target-section">
  <div class="s-about__section s-about__section--profile">
    <div class="row">
      <div class="column large-6 medium-8 tab-full">
        <h3>About me</h3>
      </div>
    </div>
  </div>
  <div class="s-about__section s-career__section">
    <div class="row">
      <div class="column">
        <h3>Career</h3>
      </div>
    </div>
  </div>
</section>
<!-- Skills -->
<section id="skill" class="s-skill__section target-section">
  <div class="row">
    <h3 class="font-white">Skills</h3>
  </div>
</section>
<jl-footer></jl-footer>
