<jl-navbar></jl-navbar>
<!--Hero-->
<section id="hero" class="s-hero target-section">
  <div *ngFor="let employee of employees">
    <p class="font-white">{{employee.name}}</p>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--About-->
<section id="about" class="s-about target-section">
  <div class="s-about__section s-about__section--profile">
    <div class="row">
      <div class="column large-6 medium-8 tab-full">
        <h3>About me</h3>
      </div>
    </div>
  </div>
  <div class="s-about__section s-career__section">
    <div class="row">
      <div class="column">
        <h3>Career</h3>
      </div>
    </div>
  </div>
</section>
<!-- Skills -->
<section id="skill" class="s-skill__section target-section">
  <div class="row">
    <h3 class="font-white">Skills</h3>
  </div>
</section>
<jl-footer></jl-footer>
